	body {
    background: white;
    }

	#navigation {
    display: none;
    }
	.footer{
    display: none;
    }
	#maincontent {
    width: auto; 
    margin: 0 5%;
    padding: 0; 
    border: 0;
    float: none;
    color: black; 
    background: transparent;
    }